services:
  backend:
    build: ./backend
    container_name: backend_container
    restart: always
    ports:
      - "3000:3000"
backend:
  build: ./backend
  container_name: backend_container
  restart: always
  ports:
    - "3000:3000"
  env_file:
    - ./backend/.env


  frontend:
    build: ./frontend
    container_name: frontend_container
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
  
