name: CI

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # FRONTEND ---------------------------
      - name: Install frontend deps
        run: npm ci
        working-directory: ./frontend

      - name: Lint frontend
        run: npm run lint
        working-directory: ./frontend

      # BACKEND ----------------------------
      - name: Install backend deps
        run: npm ci
        working-directory: ./backend

      - name: Lint backend
        run: npm run lint
        working-directory: ./backend
